{% load form_tags %}

{% if field.is_hidden %}
	{{ field }}
{% elif field|is_honeypot %}
	{% include "users/partials/honeypot.html" %}
{% else %}
	<div class="input-group">
		<!-- {% if field.errors %}
			<ul class="errorlist">
				{{ field.errors|unordered_list }}
			</ul>
		{% endif %}
		{% if field|is_checkbox %}
			{{ field }}
		{% endif %} -->

		<!-- <label for="{{ field.id_for_label }}"{% if field.field.required %} class="required"{% endif %}>

			{{ field.label }}{% if field.field.required %}{% endif %}

		</label> -->

		 {% if not field|is_checkbox %}
		<div class="input-group-addon">
			<i class="fa fa-key"></i>
		</div>
		<div class="form-control">
			 {{ field }}
</div>

		{% endif %}
		{% if field.help_text %}
			<div class="help_text">{{ field.help_text|safe }}</div>
		{% endif %}
	</div>

{% endif %}
