{% extends "base.html" %}
{% load i18n %}

{% block subtitle %}
<div class="container">
    <a class="navbar-brand" href="/">
        登录
    </a>
</div>
{% endblock subtitle%}


{% block content %}

 {% block link-css%}
 <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
 <link rel='stylesheet' href='/static/css/jquery-ui.css'>
 <link rel="stylesheet" href="/static/css/style.css" media="screen" type="text/css" />
 {%endblock%}

    <div class="login-content">

        <form action="." method="post" role="form" id="form_login">
            {% if form.errors %}
			{% include "users/partials/errors.html" %}
		{% endif %}
		{% csrf_token %}


                    {% for field in form %}
                    {{field.label}}
                        <div class="form-group">
                            {% include "users/partials/field.html" %}
                        </div>

                    {% endfor %}

            <div class="form-group">

                <button class="btn btn-primary btn-block btn-login"  type="submit" value="{% trans 'Log in' %}">{% trans '登录' %}<i class="fa fa-sign-in"></i></button>
            </div>
            <input name="next" type="hidden" value="{{ next }}"/>
            <p>
                <a href="{% url 'users_password_reset' %}">
                    {% trans "忘记密码" %}
                </a>
            </p>
            <p>
                <a href="{% url 'users_register' %}">
                    {% trans "注册新用户" %}
                </a>
            </p>
        </form>
    </div>

    {% endblock %}
